{% extends "base.html" %}
{% load static %}

{% block scss %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock %}

{% block content %}
    <div class="mt-5 pt-5 bg-white custom-shadow rounded">
        <h2 class="mt-2"><strong>{{ content }}</strong></h2>
        <p class="mt-2">{{ text_on_page }}</p>
    </div>
    
{% endblock %}

{% block footer %}
<footer class="py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">"Ногинский колледж" | Макарычев Глеб Андреевич | +7 (903) 616-49-19</p>
        <br>
        <p class="m-0 text-center text-white">2024</p>
    </div>
</footer>
{% endblock %}
